* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
	font-family: 'San_Francisco';
	src: url('fonts/SanFrancisco.eot');
	src: local('☺'), url('fonts/SanFrancisco.woff') format('woff'), url('fonts/SanFrancisco.ttf') format('truetype'), url('fonts/SanFrancisco.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body, section, .ui-page, #mapa .ui-content, #mapLocal {
  padding: 0!important;
  margin: 0 !important;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, h7, a, p, span{
	font-family: 'San_Francisco',Sans-Serif !important;
}

.ui-header, .ui-footer {
	background: url('images/footer.png') center no-repeat;
	background-size: contain;
	border: none!important;
}

.be-btn-back {
	background: url('images/btn-back.png') center no-repeat;
	background-size: contain;
	border: none !important;
	background-color: transparent !important;
}

.be-btn-menu{
	height: 6%;
	position: fixed;
	top: 1rem;
	left: 1rem;
}

.be-btn-location{
	height: 6%;
	position: fixed;
	top: 1rem;
	right: 1rem;
}

.leaflet-pane {
	z-index: 0 !important;
}

.leaflet-container .leaflet-control-attribution {
	background: none;
	bottom: 2.7rem;
}

.leaflet-popup {
}

.leaflet-popup-content-wrapper {
	padding: 0.5rem !important;
	border-radius: 0.4rem !important;
}

.leaflet-popup-close-button {
	margin-left: -5px !important;
	font-size: 2rem !important;
}

.marker-cluster-small div {
	background-color: #f2d421 !important;
}

.marker-cluster-medium div {
	background-color: #e3a01e !important;
}

.marker-cluster-big div {
	background-color: #7c8aa5 !important;
}

.marker-cluster-large,.marker-cluster-huge div {
	background-color: #ffffff;
}
